
/* MEDIA QUERYS */
@media(min-width:768px) {
    /*  html galeria */
    .grid-container-galeria {
        display: grid;
        max-width: 850px;
        grid-template-columns: repeat(3, 1fr);
        justify-items: stretch;
    }
    /* html faq */
    .accordion-body{
        font-size: 20px;
    }
    .accordion-button-faq{
        font-size:23px;
    }
    /* html contacto */
    h3{
        font-size:25px ;
    }
    .texto-contacto{
        font-size: 18px;
    }
    .i-contacto{
        font-size: 3.5rem;
    }
    .i-contacto:hover{
        font-size: 3.8rem;
    }
}


@media(min-width:1024px) {
    /* html galeria */
    .grid-container-galeria{
        max-width: 1300px;
    }
    /* html contacto */
    .contacto{
        font-size: 30px;
    }
    h3{
        font-size:30px ;
    }
    .texto-contacto{
        font-size: 20px;
        margin: 5px;
    }
    .opcion{
        font-size: 23px;
    }
    .opcion:hover{
        font-size: 25px;
    }
    .i-contacto{
        font-size: 3.8rem;
    }
    .i-contacto:hover{
        font-size: 4rem;
    }
}