.main-contacto {
    .contacto {
        font-size: 20px;
        text-align: center;
        color: #463f3a;
    }

    h3 {
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        margin: 10px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;

        .texto-contacto {
            font-size: 15px;
            color: #463f3a;

        }

        input {
            width: 90%;
            margin: 10px;
            &::placeholder{
                text-align: center;
            }
        }

        textarea {
            width: 90%;
            margin: 10px;
            &::placeholder{
                text-align: center;
            }
        }
        textarea:focus, input:focus, input[type]:focus {
            border-color:#463f3a;
            border: 5px;
            box-shadow: 0 1px 1px #8a7e7c, 0 0 8px #8a7e7c;
            outline: 0 none;
        }

        label {
            font-size: 18px;
            font-weight: bold;
        }

        .opcion {
            margin: 5px;
            font-size: 20px;
            font-weight: bolder;
            color: #463f3a;

            &:hover {
                font-size: 22px;
                background-color: #8a7e7c;
                color: white;
            }
        }
    }

    .imagen-redes {
        display: flex;
        justify-content: center;

        a {
            color: #463f3a;
            font-size: 3rem;
            margin: 5px;
            &:hover{
                font-size: 3.2rem;
            }
        }

    }


}